<%= render 'header' %>

<h1>ジャンル編集</h1>
<%= form_with model: @genre, url: update_admin_genre_path(@list.id), method: :patch  do |f| %>

  <h4>ジャンル名</h4>
  <%= f.text_field :name %>
  
  <%= f.submit '変更を保存' %>
  
  <% end %>